h1 {
  color: rgb(255, 5, 5);
  text-align: center;
  font-style: italic;
  font-family: Franklin Gothic Medium;
  font-weight: bolder;
  font-size: xxx-large;
  line-height: 25px;
}

h2 {
  font-style: italic;
  text-align: right;
  stroke-linecap: butt;
  color: green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p {
     font-family: sans-serif;
}

ul {
  color: rgb(105, 63, 0);
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  line-height: 80px;
}